@CHARSET "ISO-8859-1";
.content {
	font-size: 150%;
	padding: 3em 0;
}
.bgcolor-6 { background: #2fa8ec; color: #fff;}

.textox {
   width: 400px;
   height: 40px;
   padding: 6px 15px 6px 35px ;
   outline: 0;
   color: black;
   border-radius:20px;
   box-shadow:0 1px #ccc inset;
   back
   transition:2000ms all ease:
  }
 .textox:hover
{
	width: 450px;
		
}
